<h1>Help</h1>
<p>
  This application was followed after the Rails Tutorial by Michael Hartl with a few minor adjustments. Visit the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help
  section</a>
  or get help on this sample app at
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
  Tutorial</em> book</a>.
</p>